.btn:hover{
    transform:scale(1.05);
    background:#0ea5e9;
}

.container:hover{
    transform:translateY(-3px);
    transition:0.3s;
}

ul{
    margin-left:25px;
    line-height:1.8;
}

strong{
    color:#38bdf8;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

/* Mobile Responsive */
@media(max-width:768px){

    .container{
        padding:25px;
    }

    h1{
        font-size:28px;
    }

    .intro{
        font-size:16px;
    }

    .btn{
        display:block;
        width:100%;
        text-align:center;
        margin-bottom:10px;
    }
}
